.container_full{
    width: 100%;
}
.content{
    min-height: 800px;
    flex-wrap: nowrap;
}

.tren{
    width: 100%;
    height: 300px;
    background-color: aqua;
}
.duoi{
    width: 100%;
    height: 500px;
    background-color: saddlebrown;
}